@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

body{
    background-color: #f2f2f2;
    -webkit-overflow-scrolling: touch;
    margin-top: 50px;
    font-family: Raleway;
    font-weight: 200;
    font-size: 14px;
    color:#555;
}

h1, h2, h3, h4, h5, h6{
    font-family: Raleway;
    font-weight: 200;
    color: #333;
}

p{
    line-height: 28px;
    margin-bottom: 25px;
}

.centered{
    text-align: center;
}

a{
    color: #f85c37;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0px;
}

hr{
    displat: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-brand{
    font-size: 32px;
    letter-spacing: 1px;
}

#headerwrap{
    background: url("/resources/img/header2.jpg") no-repeat center top;
    margin-top: 80px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1{
    margin-top: 15px;
    font-size: 70px;
    letter-spacing: 3px;
    color: #ffffff;
}

#headerwrap h2{
    font-size: 40px;
    letter-spacing: 2px;
    color: #ffffff;
}

.w{
    margin-top: 15px;
    min-height: 400px;
}

.w h4{
    font-size: 35px;
}

.w p{
    font-size: 15px;
}

#footer{
    margin-top: 100px;
    background-color: #2d2d2d;
    height: 50px;
}

#footer p{
    color: #555;
    font-size: 20px;
}

.login_form input{
    margin: 0 auto;
    display: block;
}

.login_form h4{
    text-align: center;
}

.signup_form input{
    margin: 0 auto;
    display: block;
    margin-top: -20px;
}

.signup_form label{
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: -5px;
}

.signup_form h4{
    text-align: center;
}

.boards_title{
    margin-top: 15px;
    min-height: 400px;
}
.boards_title p{
    font-family: Raleway;
    font-size: 20px;
}